* {
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic;
    box-sizing: border-box;
    color: #fff;
    overflow: hidden;
    /* border: 1px solid forestgreen; */
}
.game {
    background-color: white;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
h1 {
    color: #EBEBEB;
    font-size: 82px;
    line-height: 60px;
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;

    /* text-align: right; */
}

.upper {
    background-color: #D0D0D0;
    height: auto;
    min-height: 38%;
    position: relative;
}
.display-box {
    width: 400px;
    height: 150px;
    background-color: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
}
/* .display-box {
} */
.computer-box {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-200px, 0px);
}
.human-box {
    margin: 0 auto;
}
.human-box button {
    font-size: 45px;
    height: 100%;
    width: 100%;
    border: none;
}

.human-box button:hover {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #f61212;
    cursor:pointer;
}

.human-box button:disabled,
button[disabled] {
    background-color: #EBEBEB;
    pointer-events: none;
}

.nav {
    /* background-color: orange; */
    /* padding: 15px; */
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.upper__nav {
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}
.lower__nav{
    /* top: 0; */
    padding-top: 5px;
}
.nav-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}
.nav-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
}
.upper__nav p,
.upper__nav ul,
.lower__nav ul {
    display: flex;
    gap: 30px;
}
.upper__nav ul {
    width: 250px;
    justify-content: space-evenly;
    list-style-type: none;
    /* padding-left: 25px;
    padding-right: 25px; */
}
.score {
    width: 250px;
    justify-content: space-evenly;
    font-size: 40px;
}
.score li {
    color: black;
}

.add-elements li {
    list-style-type: none;
    width: 40px;
    height: 40px;
}

.add-elements button {
    height: 100%;
    width: 100%;
    font-size: 65px;
    border: none;
    cursor: pointer;
    background-color: #D0D0D0;
    
}

.add-elements button:hover {
    height: 100%;
    width: 100%;
    background-color: #2362E4;
    cursor: pointer; 
}

.minus {
    position: relative;
    top: -22px;
}
.add {
    position: relative;
    top: -18px;
}

.upper__nav a {
    font-weight: 600;
    color: #8b8b8b;
}

.upper__nav a:hover {
    color: #2362E4;
}

.lower {
    /* background-color: lightcoral; */
    height: 100%;
}
/* .human-actions {
    background-color: lightcyan;
} */
.options {
    margin-top: 25px;
    height: 100%;
}
.options ul {
    /* border: 2px solid #f61212; */
    display: flex;
    justify-content: center;
    height: 100%;
    gap: 8px; 
}
.options li {
    width: 125px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}
s {
    color: #f61212;
    pointer-events: none;
}
.strike-text {
    text-transform: uppercase;
    color: black;
    font-weight: 400;
}
.selection {
    /* flex-grow: 0; */
    height: 100%;
    width: 100%;
    border: none;
    text-align: center;
    color: black;
    background-color: #EBEBEB;
    cursor: pointer;
    padding: 8px;
}

.selection:hover {
    height: 100%;
    width: 100%;
    background-color: #f61212;
    cursor: pointer; 
}

.pulse {
    /* Apply the pulse animation */
    color: black;
    animation: pulse 1s ease-in-out infinite;
    /* animation-timing-function: ease-in-out; */
}

.playing {
    color: black;
}

.winner {
    animation: winner 0.25s ease-in 0.5s 1 forwards;
}

.loser {
    animation: loser 0.25s ease-in 0.5s 1 forwards;
}

.tie {
    animation: tie 0.25s ease-in 0.5s 1 forwards;
}

.score-add{
    animation: score-add 1s ease-out forwards;
}

@keyframes pulse {
    0% {
        border: 5px solid #f61212;
        /* color: #D0D0D0; */
    }
    50% {
        border: 5px solid black;
        /* color: black; */
    }
    100% {
        border: 5px solid #f61212;
        /* color:#D0D0D0; */
    }
}

@keyframes winner {
    0% {
        background-color: #EBEBEB;
        color: black;
    }
    100% {
        background-color: #f61212;
        color:white;
    }
}

@keyframes loser {
    0% {
        background-color: #EBEBEB;
        color: black;
    }
    100% {
        background-color: black;
        color: #5c5c5c;;
    }
}

@keyframes tie {
    0% {
        background-color: #EBEBEB;
        color: black;
    }
    100% {
        background-color: black;
        color: #5c5c5c;
    }
}

@keyframes score-add {
    0% {
        color: #f61212;
    }
    100% {
        color: black;
    }
}