body {
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}
.container {
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: lightcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    overflow: hidden;
}
.element {
    width: 200px;
    height: 150px;
    flex-shrink: 0;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: lightslategray;
}
s {
    pointer-events: none;
}

#hello {
    width: 200px;
    height: 100px;
    background-color: lightgoldenrodyellow;
}

#hello:active {
    background-color: blue;
}

.pulse {
    /* Apply the pulse animation */
    animation: pulse 1s infinite;
    animation-timing-function: ease-in-out;
}
  
@keyframes pulse {
    0% {
        outline: 0px solid black;
        color: black;
    }
    50% {
        outline: 5px solid red;
        color: red;
    }
    100% {
        outline: 0px solid black;
        color: black;
    }
}